h1 {
  font-size: 50px;
  font-weight: 600; }

h2 {
  font-size: 36px;
  font-weight: 600; }

h3 {
  font-size: 18px;
  font-weight: 500; }

.text, p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: "Open Sans"; }

.header {
  padding: 1rem 2rem;
  display: flex;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); }
  .header__logo {
    height: 5rem;
    margin-right: auto; }

.user-nav {
  display: flex;
  align-self: stretch;
  margin-right: 4rem; }
  .user-nav__list {
    list-style: none;
    display: flex; }
  .user-nav__item {
    display: flex; }
    .user-nav__item:not(:last-child) {
      margin-right: 1.5rem; }
  .user-nav__link {
    position: relative; }
    .user-nav__link:link, .user-nav__link:visited {
      font-size: 1.6rem;
      text-decoration: none;
      display: flex;
      align-items: center;
      padding: 0rem 1rem;
      transition: all .2s;
      font-weight: 600;
      background: linear-gradient(to right, red, green, blue);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      /*border-right: 1px solid black;*/ }
    .user-nav__link::before {
      content: "";
      display: inline-block;
      width: 50%;
      height: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.2);
      transition: all .8s; }
    .user-nav__link:hover::before {
      width: 100%;
      background-color: rgba(0, 0, 0, 0.4); }

.container {
  height: 100vh; }

.banner {
  width: 90%;
  padding: 20px 10px;
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  animation: moveInBottom 0.5s ease-out; }
  .banner > * {
    flex: 1;
    margin-bottom: 30px; }
  .banner-img-div img {
    max-width: 100%;
    height: auto;
    width: auto; }

.banner-main__title {
  margin: 20px auto;
  padding-top: 30px; }
  .banner-main__title span {
    background-image: linear-gradient(transparent calc(100% - 20px), #ff0000b4 0px); }

.btn {
  margin-top: 1rem; }
  .btn:link, .btn:visited {
    border-radius: 100px;
    display: inline-block;
    text-decoration: none;
    padding: 15px 30px;
    font-size: 18px;
    transition: all 0.2s; }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px #0000ff3a; }
  .btn:active {
    transform: translate(-1px);
    box-shadow: 0 5px 10px #0000ff3a; }
  .btn-blue {
    background-color: blue;
    color: #fff; }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(100px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@media (max-width: 736px) {
  .banner {
    flex-flow: column;
    padding-top: 0; } }

.events {
  padding: 10rem 0;
  display: flex;
  flex-direction: column; }

.event-type {
  align-self: center;
  margin-bottom: 8rem;
  font-weight: 600;
  background-image: linear-gradient(transparent calc(100% - 20px), #ff0000b4 0px); }

.event-cards {
  display: flex;
  justify-content: space-around;
  color: white; }

.card {
  padding: 3rem 2rem;
  /*box-shadow: 2px 5px 5px rgba(0,0,0,.5);*/
  height: 20rem;
  transition: transform .5s;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .card--1 {
    /*		border-top: 8px solid red;
*/
    /*border-radius: 5px;*/
    border-radius: 7px;
    background: linear-gradient(45deg, #c22c12, #e63415);
    box-shadow: 25px -25px 0px #ac2710,  -25px 25px 0px #ff3b18; }
  .card--2 {
    /*	border-top: 8px solid blue;
		border-radius: 5px;*/
    border-radius: 5px;
    background: linear-gradient(45deg, #307a15, #399019);
    box-shadow: 25px -25px 0px #2a6c12,  -25px 25px 0px #40a21c; }
  .card--2-1 {
    border-radius: 7px;
    background: linear-gradient(45deg, #15417a, #194d90);
    box-shadow: 25px -25px 0px #123a6c,  -25px 25px 0px #1c56a2; }
  .card__title {
    font-size: 2.8rem; }
  .card__date {
    font-size: 1.5rem; }
  .card__status {
    font-size: 1.8rem; }
  .card:hover {
    transform: scale(1.1); }
