.banner {
  width: 90%;
  padding: 20px auto;
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  animation: moveInBottom 0.5s ease-out;
  //  background-color:#ebeeff;
  background-color: transparent;
  //  background: url(../../dist/images/bubbles_bg_green.svg) no-repeat;

  & > * {
    flex: 1;
    margin-bottom: 30px;
  }

  &-img {
    img {
      max-width: 100%;
      height: auto;
      width: auto;
    }
  }
}

.banner-main {
  &__title {
    margin: 20px auto;
    padding-top: 30px;
  }
  // span {
  //   background-image: linear-gradient(
  //     transparent calc(100% - 20px),
  //     red 0px
  //   );
  // }

 
}

.underlined {
  position: relative;
}

.underlined::after {
  content: "";
  position: absolute;
  display: inline-block;
  height: 12px;
  width: 100%;
  left: 0;
  bottom: 10px;
  z-index: -1;
  background-color: red;
}

.btn {
  &:link,
  &:visited {
    border-radius: 100px;
    display: inline-block;
    text-decoration: none;
    padding: 15px 30px;
    font-size: 18px;
    transition: all 0.2s;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px #0000ff3a;
  }

  &:active {
    transform: translate(-1px);
    box-shadow: 0 5px 10px #0000ff3a;
  }

  &-blue {
    background-color: blue;
    color: #fff;
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@media (max-width: 736px) {
  .banner {
    flex-flow: column;
    padding-top: 0;
  }
}
