.intro {
  width: 90%;

  padding-top: 2rem;
  display: flex;

  & > * {
      flex : 1;
    margin-bottom: 30px;
  }

  &-img {
    padding: 20px;
   
    img {
      max-width: 100%;
      height: auto;
      width: auto;
    }
  }

  &-heading {
    margin-bottom: 1rem;
  }
}

.intro-text {
   
  margin-left: 20px;
  padding-top: 15%;

  p {
    line-height: 1.7;
  }
}

@media(max-width:736px){
    .intro{
        flex-flow: column;
     &-img{
         order:2;
     }
    }

}