.section__organisers{
    background-color: 	#f2f7ff;
    text-align: center;
    padding-top:3rem;
    .heading-secondary{
     
    
        font-weight: 700;
        font-size: 5rem;
        margin-bottom: 1rem;
       
        }
}

// .underlined {
//     position: relative;
//   }
  
//   .underlined::after {
//     content: "";
//     position: absolute;
//     display: inline-block;
//     height: 12px;
//     width: 100%;
//     left: 0;
//     bottom: 10px;
//     z-index: -1;
//     background-color: red;
//   }


.organisers-row{
padding:2rem;
}

.profile{
&-card {
 
text-align: center;
display: inline-block;
margin: 2rem;

}
&-pic{
    width:15rem;
    height:auto;
    border-radius: 50%;
}
}


